@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.form-control {
    display: flex;
}

.popup {
    /* display: flex; */
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: white;
}
.popup label {
    font-size: 24px;
    margin-right: 10px;
    margin-left: 40px;
}
.popup input {
    border: 2px solid #333;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}
#startDate {
    margin-top: 20px;
}
#saveTask {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    width: 250px;
    margin-left: 80px;
}

.popup-content {
    width: 420px;
    height: 170px;
    display: block;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.close-popup {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    opacity: 0.6;
}
.popup.active {
    display: block;
}
.start-date {
    font-size: 18px;
    padding: 5px;
}

.form-control button {
    height: 50px;
    width: 80px;
    line-height: 45px;
    border: none;
    padding: 5px;
    background: #ccc;
    text-align: center;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}

#list-task {
    width: 600px;
}

.task-name {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}

#myCheckbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    appearance: none;
    margin-right: 10px;
    margin-top: 5px;
    &:checked {
        background-color: blue;
        clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
        /* border: 2px solid white; */
        transition: 0.3s cubic-bezier(0.8, 0, 0.2, 1);
    }
}

.tabs {
    display: flex;
    position: relative;
}

.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: #c23564;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
}

.tab-item.active {
    opacity: 1;
}

.tab-content {
    padding: 28px 0;
}

.tab-pane {
    color: #333;
    display: none;
}

.tab-pane.active {
    display: block;
}
.tab-pane ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.tab-pane ul li {
    display: flex;
    background: #f1f1f1;
    padding: 5px;
    margin-bottom: 10px;
}

.tab-pane ul li div {
    width: 50%;
}

.tab-pane ul li a {
    text-decoration: none;
    display: block;
    margin-right: 10px;
    color: #333;
    padding: 5px;
    justify-content: space-around;
    font-weight: 500;
}

.tab-pane ul li a:nth-of-type(1) {
    /* quy định thẻ <a> ở vị trí số 1 */
    background: red;
    border-radius: 5px;
}
.hidden {
    display: none;
}
